header {
    background-color: #379237;
    background-repeat: no-repeat;
    background-size: 100rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 37.5rem;
    font-style: normal;
    height: 12.5rem;
    @include flex(column,center,none,none);
    text-align: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    border: 3px solid black;
    h1{
        margin-top: 0%;
        &:hover{
            box-shadow: 4px 4px 4px black;
            border:2px solid white;
        }
        a{
            font-size: 2.8125rem;
            text-shadow: 1px 1px white;
            color:map-get($estilos,fuentesPrincipales );
            text-decoration: none;
            list-style: none;
            width: 100%;
            &:hover{
               transform: scale(1.1);
                color: map-get($estilos,fuentesPrincipales);
                display: flex;
                justify-content: flex-start;
                margin-left: 6.875rem;
           
                &::after{
                    content: " es la pagina numero 1 elegida por los fanaticos del futbol.";
                    color: map-get($estilos, fuentesPrincipales );
                    font-size: 1.375rem;
                    align-self: center;
                    text-decoration: underline;
                    text-shadow: 1px 1px black;
                    font-family: "Exo", sans-serif;
                   
                }
            }
        }
    }
    h2{
        text-decoration-line: underline;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        text-shadow: 1px 1px white;
        text-align: center;
        padding-bottom: 30px;
        margin: auto;
        &:hover{
            transform: scale(1.1);
        }
        a{
            color: black;
            
            img{
                width: 1.5rem;
                height: 1.5rem;
            } 
        }
        
    }
  



};