body {
    background-image: url(https://i.pinimg.com/736x/a3/55/d6/a355d6990caee1c570a8e8435b1e131b.jpg);
    background-size: 206.25rem;
    background-position: center center;
    background-repeat: no-repeat;



};