main{
    .carrusel{
        width: 19.375rem;
      }
      .caja{
        width: 19.375rem;
      }
      .barraNoticias{
        width: 19.375rem;
        .aside-barra{
            p{
                border: 1px solid black;
            }
        }
      }
      .barraNoticias2{
        width: 19.375rem;
        .aside-barra{
            p{
                border: 1px solid black;
            }
        }
      }
      .barraNoticias3{
        width: 19.375rem;
        .aside-barra{
            p{
                border: 1px solid black;
            }
        }
      }
      .barraNoticias4{
        width: 19.375rem;
        .aside-barra2{
            p{
                border: 1px solid black;
            }
        }
      }
      .barraNoticias5{
        width: 19.375rem;
        .aside-barra2{
            p{
                border: 1px solid black;
            }
        }
      }
}