header{
    .NavBar{
        .navbar-brand {
            position: absolute;
            right: 2%;
            top: 15%;
            font-size: 15px;
       
        }

        .navbar-nav {
            width: 100%;
            border: .125rem solid black;
            background-image: url(https://i.pinimg.com/564x/a3/55/d6/a355d6990caee1c570a8e8435b1e131b.jpg);
            border-radius: .125rem .125rem;
            margin-left: 3.125rem;
            z-index: 1000;
            height: 17.5rem;
            li{
                width: 80%;
                gap: 5px;
               
            }
       
            .dropdown-menu{
                width: 90%;
                .dropdown-item {
                    border: .0625rem solid black;
                    border-radius: .3125rem;
                    width: 9.375rem;
                    background-color: green;
                    font-size: .9375rem;
                }
            }
      
            
     }
    }
}
main{
    .carrusel {
        width: 21.875rem;
        height: 18.75rem;
        
    .h3 {
        font-size: .9375rem;
    }
    .pCarrusel {
        font-size: .8125rem;
    }


    }
    .caja {
        width: 21.875rem;
        height: 18.75rem;
        .articulo-caja{
            p{
                align-self: flex-start; 
            }
        }

    }
    
    .barraNoticias {
        width: 21.875rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }

    .barraNoticias2 {
        width: 21.875rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }

    .barraNoticias3 {
        width: 21.875rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }

    .barraNoticias4 {
        width: 21.875rem;
        .aside-barra2{
            p{
                border: 1px solid black; 
            }
        }
    }

    .barraNoticias5 {
        width: 21.875rem;
        .aside-barra2{
            p{
                border: 1px solid black; 
            }
        }
    }


}