main{
    .carrusel{
        width: 21.875rem;
    }
    .caja{
        width: 21.875rem;
    }
    .barraNoticias{
        width: 21.875rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }
    .barraNoticias2{
        width: 21.875rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }
    .barraNoticias3{
        width: 21.875rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }
    .barraNoticias4{
        width: 21.875rem;
        .aside-barra2{
            p{
                border: 1px solid black; 
            }
        }
    }
    .barraNoticias5{
        width: 21.875rem;
        .aside-barra2{
            p{
                border: 1px solid black; 
            }
        }
    }
}