main{
    .carrusel{
        width: 23.375rem;
       
    }
    .caja{
        width: 23.375rem;
    }
    .barraNoticias{
        width: 23.375rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }
    .barraNoticias2{
        width: 23.375rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }
    .barraNoticias3{
        width: 23.375rem;
        .aside-barra{
            p{
                border: 1px solid black; 
            }
        }
    }
    .barraNoticias4{
        width: 23.375rem;
        .aside-barra2{
            p{
                border: 1px solid black; 
            }
        }
    
}
.barraNoticias5{
    width: 23.375rem;
    .aside-barra2{
        p{
            border: 1px solid black; 
        }
    }
} 
}