header{
    height: 8.125rem;
  h1{
    background-color:map-get($estilos, fondoPrincipal );
    border: .0625rem solid white;
    a{
        font-size: 5px;
        color:map-get($estilos, parrafosPrincipales );
        text-shadow: none;
    }
  }
  h2{
    font-size: .75rem;
    padding-top: 0%;
    padding-bottom: 0%;
    img{
        width: .75rem;
        height: .75rem;
    }
  }
  .NavBar{
    background-color:map-get($estilos, fondoPrincipal);
    border: .0625rem solid white;
    .navbar-brand {
        position: absolute;
        right: 1%;
        top: 8%;
        margin: auto;
        font-size: 1.1875rem;
        .navbar-brand img {
            height: 1.25rem;
            width: 1.25rem;
        }
    }
    .navbar-toggler {
        border: .125rem solid black;
    
    }
    .NAV {
        @include flex(column,none,start,none);
        padding-left: 0px;
        width: 100%;
        height: 300px;
        border: .125rem solid black;
        background-image: url(https://i.pinimg.com/564x/a3/55/d6/a355d6990caee1c570a8e8435b1e131b.jpg);
        border-radius: .125rem .125rem;
        margin-left: 3.125rem;
        z-index: 1000;
        li{
            gap: 1px;
            width: 21.25rem;
            
            a{
                font-size: 1.25rem;
                color: black;
            }
            .dropdown-item {
                border: .0625rem solid black;
                border-radius: .3125rem;
                width: 75%;
                background-color: green;
            }
        }
    }
   
  }
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 200px 200px 200px 200px 200px 300px;
    padding-top: 1%;
    .carrusel {
        grid-column: 1/5;
        grid-row: 1/2;
        width: 25rem;
        height: 18.75rem;
        border: .125rem solid white;
        .h3 {
            font-size: 1.0625rem;
        }
    
        .pCarrusel {
            font-size: .9375rem;
        }
    }
    .barraNoticias {
        grid-column: 1/5;
        grid-row: 2/3;
        width: 25rem;
        margin: auto;
        height: 100%;
        background-color: black;
        border: .125rem solid white;
        .aside-barra {
       @include grid(repeat(4, 1fr), repeat(3, 1fr),none,none);
       h4{
        grid-column: 3/5;
        grid-row: 1/2;
        font-size: 1.125rem;
        background-color: black;
        height: 40%;
        align-self: flex-end;
        a{
            color: white;
        }
       }
       p{
        display: block;
        background-color: black;
        grid-column: 3/5;
        grid-row: 2/4;
        height: 50%;
        width: 100%;
        border: .0625rem solid white;
        text-decoration: underline;
        a{
            color: white;
            font-size: .625rem;
            text-align: center;
            justify-self: center;
        }

       }
       a{
        grid-column: 1/3;
        grid-row: 1/4;
        width: 90%;
        height: 80%;
        margin: auto;
        img{
            border: .125rem solid white;  
        }
       }
       iframe{
        grid-column: 1/3;
        grid-row: 1/4;
        width: 90%;
        height: 80%;
        margin: auto;
        border: .125rem solid white;
       }
    
        }
     

    }
    .barraNoticias2 {
        grid-column: 1/5;
        grid-row: 3/4;
        width: 25rem;
        margin: auto;
        margin-top: 0%;
        height: 100%;
        background-color: black;
        border: .125rem solid white;
        .aside-barra {
            @include grid(repeat(4, 1fr), repeat(3, 1fr),none,none);
            h4{
             grid-column: 3/5;
             grid-row: 1/2;
             font-size: 1.125rem;
             background-color: black;
             height: 40%;
             align-self: flex-end;
             a{
                 color: white;
             }
            }
            p{
             display: block;
             background-color: black;
             grid-column: 3/5;
             grid-row: 2/4;
             height: 50%;
             width: 100%;
             border: .0625rem solid white;
             text-decoration: underline;
             a{
                 color: white;
                 font-size: .625rem;
                 text-align: center;
                 justify-self: center;
             }
     
            }
            a{
             grid-column: 1/3;
             grid-row: 1/4;
             width: 90%;
             height: 80%;
             margin: auto;
             img{
                 border: .125rem solid white;  
             }
            }
            iframe{
             grid-column: 1/3;
             grid-row: 1/4;
             width: 90%;
             height: 80%;
             margin: auto;
             border: .125rem solid white;
            }
         
             }

    }
    .barraNoticias3 {
        grid-column: 1/5;
        grid-row: 4/5;
        width: 400px;
        margin: auto;
        margin-top: 0%;
        height: 100%;
        background-color: black;
        border: .125rem solid white;
        .aside-barra {
            @include grid(repeat(4, 1fr), repeat(3, 1fr),none,none);
            h4{
             grid-column: 3/5;
             grid-row: 1/2;
             font-size: 1.125rem;
             background-color: black;
             height: 40%;
             align-self: flex-end;
             a{
                 color: white;
             }
            }
            p{
             display: block;
             background-color: black;
             grid-column: 3/5;
             grid-row: 2/4;
             height: 50%;
             width: 100%;
             border: .0625rem solid white;
             text-decoration: underline;
             a{
                 color: white;
                 font-size: .625rem;
                 text-align: center;
                 justify-self: center;
             }
     
            }
            a{
             grid-column: 1/3;
             grid-row: 1/4;
             width: 90%;
             height: 80%;
             margin: auto;
             img{
                 border: .125rem solid white;  
             }
            }
            iframe{
             grid-column: 1/3;
             grid-row: 1/4;
             width: 90%;
             height: 80%;
             margin: auto;
             border: .125rem solid white;
            }
         
             }
    }
    .barraNoticias4 {
        grid-column: 1/5;
        grid-row: 5/6;
        width: 25rem;
        margin: auto;
        margin-top: 0%;
        height: 100%;
        background-color: black;
        border: .125rem solid white;
        .aside-barra2 {
      @include grid( repeat(4, 1fr), repeat(3, 1fr),none,none);
      h5{
        grid-column: 3/5;
        grid-row: 1/2;
        font-size: 1.125rem;
        background-color: black;
        height: 40%;
        align-self: center;
    
        a{
            color: white; 
        }
      }
      a{
        grid-column: 1/3;
        grid-row: 1/4;
        width: 90%;
        height: 90%;
        margin: auto;
        img{
            border: .125rem solid white;
            height: 85%;
        }
      }
      iframe{
        grid-column: 1/3;
        grid-row: 1/4;
        width: 90%;
        height: 80%;
        margin: auto;
        border: .125rem solid white;
      }
      p{
        display: block;
        background-color: black;
        grid-column: 3/5;
        grid-row: 2/4;
        height: 50%;
        width: 100%;
        border: .0625rem solid white;
        text-decoration: underline;
      a{
        color: white;
        text-align: center;
        justify-self: center;
      }
      }
    
        }
   
    }
    .barraNoticias5 {
        grid-column: 1/5;
        grid-row: 6/7;
        width: 25rem;
        margin: auto;
        margin-top: 0%;
        height: 100%;
        background-color: black;
        border: .125rem solid white;
        .aside-barra2 {
            @include grid( repeat(4, 1fr), repeat(3, 1fr),none,none);
            h5{
              grid-column: 3/5;
              grid-row: 1/2;
              font-size: 1.125rem;
              background-color: black;
              height: 40%;
              align-self: center;
          
              a{
                  color: white; 
              }
            }
            a{
              grid-column: 1/3;
              grid-row: 1/4;
              width: 90%;
              height: 90%;
              margin: auto;
              img{
                  border: .125rem solid white;
                  height: 85%;
              }
            }
            iframe{
              grid-column: 1/3;
              grid-row: 1/4;
              width: 90%;
              height: 80%;
              margin: auto;
              border: .125rem solid white;
            }
            p{
              display: block;
              background-color: black;
              grid-column: 3/5;
              grid-row: 2/4;
              height: 50%;
              width: 100%;
              border: .0625rem solid white;
              text-decoration: underline;
            a{
              color: white;
              text-align: center;
              justify-self: center;
            }
            }
          
              }
    }
    .caja {
        grid-column: 1/5;
        grid-row: 7/8;
        width: 25rem;
        height: 18.75rem;
        border: .125rem solid white;
        .articulo-caja{
            h3{
                background-color: black;
                a{
                    color: white;
                }
        
            }
            p{
                color: white;
                font-size: .75rem;
                height: 20%;
                text-align: center;
                display: block;
                align-self: flex-start;
                a{
                    color: white;
                }
            }
            img{
                height: 100%;
            }
            iframe{
                height: 100%;
            }

        }

    }


    
}
footer {
   .menu{
    a{
        font-size: .75rem;
    }
   }
}